@tailwind base;
@tailwind components;
@tailwind utilities;


.selected,
.active-nav {
  color: #3dc463;
}

.active-nav::after {
  content: "";
  border-bottom: 3px solid;
  position: absolute;
  width: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h1 {
    @apply text-[54px] lg:text-[96px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#dfc19a] to-[#271b0c] font-bold font-primary hover:from-[#dbb88a] hover:to-[#dbb88a];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
  .nav{
    @apply relative text-text font-bold font-primary tracking-[1px] hover:text-primary cursor-pointer w-full px-4 h-[60px] flex items-center justify-center active:scale-110 z-30;
  }
  .nav::after{
    @apply content-[''] absolute bg-primary h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl duration-300 active:text-text;
  }
  .nav:hover::after{
    @apply w-[100%]
  }  
  .nav-mobile{
    @apply relative text-text font-bold font-primary tracking-[1px] hover:text-primary cursor-pointer w-[180px] px-4 h-[60px] flex items-center justify-center active:scale-110 z-30;
  }
  .nav-mobile::after{
    @apply content-[''] absolute bg-primary h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl duration-300 active:text-text;
  }
  .nav-mobile:hover::after{
    @apply w-[100%]
  }
}

.about-img{
  border-radius: 30% 70% 56% 44% / 48% 54% 46% 52% ;
}