@tailwind base;
@tailwind components;
@tailwind utilities;

.selected,
.active {
  background: #a37333;
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 1px;
}

.selected,
.active-nav {
  background: #a37333;
}

.active-nav {
  color: #0c0804;
  padding: 1rem;
  border-radius: 10%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h1 {
    @apply text-[54px] lg:text-[96px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply cursor-pointer py-[18px] px-[50px] h-[66px] flex items-center justify-center text-2xl uppercase font-secondary font-semibold bg-primary text-text;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#dfc19a] to-[#271b0c] font-bold font-primary hover:from-[#dbb88a] hover:to-[#dbb88a];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
  .nav{
    @apply relative text-text font-bold font-primary tracking-[1px] hover:text-[#a37333] cursor-pointer w-full px-4 h-[60px] flex items-center justify-center;
  }
  .nav::after{
    @apply content-[''] absolute bg-[#a37333] h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl duration-300
  }
  .nav:hover::after{
    @apply w-[100%]
  }
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}